<div class="container-fluid h-100">
    <form [formGroup]="entranceForm">
        <div id="entrance" class="row justify-content-center padding input-group">
            <input type="text" 
                   name="nick" 
                   class="entrance"
                   placeholder="Enter your name for quick registration"
                   formControlName="nick"/> 
            <button (click)="continueToChat()" class="send_btn"><mat-icon>face</mat-icon></button>
        </div>

        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat">
             <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." formControlName="searchTerm" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn">
                                <mat-icon>search</mat-icon>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul id="clients" class="contacts">
                        <li *ngFor="let sender of senders | filter:searchTerm">
                            {{sender}}
                        </li>
                    </ul>
                </div>
                <div class="card-footer"></div>
             </div>
            </div>

            <div class="col-md-8 col-xl-6 chat">
                <div id="chat" class="card">
                <div class="card-header msg_head">
                    <h3>{{currentLogin}}</h3>
                </div>
                <div id="messages" class="card-body msg_card_body" >
                    <div *ngFor="let chat of chatNotifications"
                        [ngClass]="'d-flex mb-4 ' + (chat.login === currentLogin ? 'justify-content-end' : 'justify-content-start')">
                        <strong *ngIf="chat.login !== currentLogin">{{chat.login}}</strong>
                        <div [ngClass]="(chat.login === currentLogin) ? 'msg_container_send' : 'msg_container'">{{chat.messageText}}</div>
                    </div>
                </div>
                <div class="card-footer">
                        <div 
                        [hidden]="!isShowTyping"
                        class="msg_typing">{{loginTyping}} is typing</div>
                        <div id="frm-send-message" class="input-group" action="#">
                            <span class="input-group-text attach_btn">
                                <mat-icon> attach_file</mat-icon>
                            </span>
                                <textarea 
                                  name="messageInput" 
                                  placeholder="Type your message..." 
                                  class="type_msg"
                                  formControlName="messageInput"
                                  (keydown)="onKeydown($event)">{{currentLogin}}
                                </textarea>                    
                             <span class="input-group-text send_btn">
                                 <i id="send" 
                                    (click)="sendMessage()">
                                     <mat-icon>subdirectory_arrow_right</mat-icon>
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
