.msg_container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    display: inline;
}

.msg_container_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    display: inline;
}

.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}
  
.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}