@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "../node_modules/bootstrap/scss/bootstrap";

body, html {
    height: 100%;
    margin: 0 auto;
    background: #456;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.mat-dialog-content {
    p {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.5;
      color: #52565f;
    }
  
    a {
      color: #0885cd;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .mat-dialog-actions {
    padding-bottom: 10px;
  
    &.flex {
      display: flex;
      justify-content: space-between;
    }
  
    &.flex-center {
      justify-content: center;
    }
  
    &.flex-end {
      justify-content: flex-end;
    }
  
    button {
      margin: 0 5px;
  
      &:first-child {
        margin-left: 0;
      }
  
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .text-muted {
    color: #6c757d !important;
  }
  
  .footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .border-top {
    border-top: 1px solid #dee2e6 !important;
  }
